.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 280px;
    border: 5px solid steelblue;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: max-content;
    gap: 25px;
  }

  .name {
    min-height: 25px;
  }

  .text {
    min-height: 110px;
    resize: none;
  }
  
  .submit {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-left: auto;
    background-color: lightblue;
    width: 20%;
    font-weight: 700;
  }

  .post {
    font-weight: 700;
    font-size: x-large;
  }
  