.replyButton {
    width: 5.5em;
}

.ReplyContainer {
    display: flex;
    flex-direction: column;
    border-left: 29px black;
    padding: 5px;
}

.reply {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 1em;
    margin-left: .5em;
    border-top: 1px black solid;
}

.replyChunk {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    row-gap: 1em;
    border-left: 1px black solid;
}

.newReply {
    width: 100%;
}