<h1><a href="/">Home</a></h1>
<h1> Room: {{roomName}} </h1>
{{!-- <p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}.
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p> --}}

<div>
    <script type="text/javascript">
        let userName = null;
        window.addEventListener('load', function () {
            while (userName === null || userName === "") {
                userName = prompt('Please enter a username.');
            }
        });
        
        const submitFunc = () => {
            const data = {
                roomName: document.getElementById('roomName').value,
                userName: userName,
                content: document.getElementById('content').value
            }
            const response = fetch("http://localhost:8080/message", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data)
            })
            return userName;
        }

        var messages = [];
        const load = window.setInterval(async () => {
            fetch("http://localhost:8080/getMessages").
            then(res => res.json()).then(data=> {
                var roomName = document.getElementById('roomName');
                var container = document.getElementById('messageContainer');
            });
        }, 5000);
    </script>
</div>

<form>
        <input id='roomName' type="hidden" name="roomName" value="{{roomName}}"/>
        {{!-- <input id="userNameInput" type="text" name="userName" placeholder="Enter username"> --}}
        <input id="content" type="text" name="content" placeholder="Enter your message" required>
        <input type="submit" value="Post" onclick="submitFunc()"> 
</form>

{{!-- {{#if isAvailable}}
<div id="chatBox">
    <div id="messageContainer">
        {{#each messages}}
    </div>
</div> --}}