/* Feel free to edit CSS of body if you'd like. Wse provide you the light gray background color and font family in the body styling */

html {
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 900px;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #e6ecf0 !important;
  z-index: -1;
}

.mainPage {
  margin-top: 46px;
  display: inline-flex;
  justify-content: center;
}

.custom-nav {
  height: 46px;
  width: 100vw;
  z-index: 100;
}

.header {
  display: inline-block;
}

.anchor {
  display: inline-block;
  text-align: center;
}
.navText {
  color: #67757f;
  font-weight: 720;
}
.smallIcons {
  display: none;
}

nav div a {
  text-decoration: none;
  color: black;
  margin-left: 40px;
  font-weight: 400;
  color: #67757f;
}

nav div a:hover {
  color: #49b3f4;
  border-bottom: solid #49b3f4 3px;
}

.twitter-logo {
  max-width: 100px;
  max-height: 30px;
  top: 12%;
  display: inline-block;
  position: absolute;
  left: calc(100%/2);
}

.tweet-button {
  position: absolute;
  display: inline-block;
  right: 1%;
  top: 12%;
  background-color: #49b3f4;
  text-align: center;
  box-sizing: border-box;
  color: white;
  border: 0 solid black;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  padding: 1.25px 18px;
  font-size: 20px;
}

.profile {
  min-width: 250px;
  max-width: 320px;
  min-height: 300px;
  background-color: white;
  height: 35vh;
  display: inline-flex;
  flex-direction: column;  
  margin: 0 25px;
  margin-top: 25px;
}

.container {
  background: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  min-height: 105px;
}

.banner {
  padding: 28px 25px;
  z-index: 2;
  width: 70%;
}

.pf {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.remy {
  height: 40%;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: -5%;
  margin-left: 8%;
  z-index: 3;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10%;
}

.userName {
  font-weight: 900;
  margin-top: 20%;
  margin-left: 10%;
  text-decoration: underline;
}

.tag {
  margin-top: -45%;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -30%;
  padding-bottom: 50px;
}
.tweets {
  display: flex;
  flex-direction: column;
}

.category {
  font-weight: 720;
  color: #67757f;
}

.nums {
  color: #49b3f4;
  font-weight: 725;
}

.feed {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  width: 610px;
  height: 600px;
  margin: 0 25px;
  margin-top: 25px;
  display: inline-block;
}

.post {
  border-color: #67757f;  
  padding: 10px;
  font-size: 120%;
  border-bottom: 1px solid #e6ecf0;
  display: flex;
}

.post_image {
  float: left;
  border-radius: 100%;
  max-width: 85px;
  max-height: 85px;
  padding: 10px;
}

.post_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1px;
  padding: 3px;
}

.post_author {
  display: block;
  justify-content: space-between;
  text-align: start;
}

.post_author_name {
  font-weight: 750;
  padding-top: 10px;
}

.post_author_id_date {
  color: #959799;
  font-weight: 400;
}

.suggestions {
  display: block;
  width: 290px;
  background-color: white;
  float: right;
  margin: 0 25px;
  margin-top: 25px;
  padding: 10px;
  height: 20vh;
  min-height: 300px;
}
.suggested_profile {
  display: inline-flex;
  float: left;
  border-bottom: 1px solid #e6ecf0;
  width: 11.6vw;
}

.suggested_img {
  display: inline-flex;
}

.follow_button {
  display: inline-flex;
  justify-content: center;
  color: #49b3f4;
  font-weight: 700;
  border: 2px solid #49b3f4;
  border-radius: 10em;
  width: 125px;
}
.follow_button:hover {
  background-color: #49b3f4;
  color:#FFFFFF;
  cursor: pointer;
}

/* TODO: Create CSS for your Twitter Mockup */

@media only screen and (max-width: 1200px) {
  .smallIcons {
    display: inline-block ;
    margin: auto;
    width: 50%;
    
  }
  
  .header {
    max-width: 50%;
  }

  .anchor {
    display: inline-block;
    text-align: center;

  }

  .navText {
    display: none;
  }

  .suggestions {
    display: none;
  }
}

.suggestions_title {
  font-weight: bold;
  font-size: 26px;
}